* {
    margin: 0;
    padding: 0;
    box-shadow: #444;
    box-sizing: border-box;
   font-family: Georgia, 'Times New Roman', Times, serif ;
}

body {
    background-color:azure;
}

.pricing-container {
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 60px,20px;
}

.card {
    background: white;
    width: 300px;
    padding: 25px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    transition: 0.3s ease;
}

.card:hover {
    transform: translateY(-8px);
}

.card h2 {
    font-size: 22px;
    margin-bottom: 10px;
}

.card h1 {
    font-size: 35px;
    margin-bottom: 20px;
}

.card h1 span {
    font-size: 15px;
    color: #444;
}

.card ul {
    list-style: none;
    margin-bottom: 20px;
}

.card ul li {
    font-size: 16px;
    margin: 8px 0;
    color: #333;
}

.card ul .disabled {
    color: red;
}

button {
    background: #ff3b30;
    color: white;
    padding: 10px 18px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background: #d92b23;
}
